[tooltip-text] {
  position: relative;

  &:hover::after {
    content: attr(tooltip-text);
    width: auto;
    height: auto;
    // min-width: 16rem;
    white-space: nowrap ;
    letter-spacing: 0.1rem;
    text-align: center;
    background: linear-gradient(0deg, transparent 10px, $color-light 10px, $color-light),
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 10" width="20"><path d="M9 10 L0 0 20 0 10 10 Z" fill="%23#{str-slice(inspect($color-light), 2)}"/></svg>')
        bottom center no-repeat;
    color: $color-text;
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    text-transform: none;
    line-height: 0px;
    padding: 1.3rem 1.6rem;
    padding-bottom: 2.4rem;
    filter: drop-shadow(0px 0px 2px $color-muted);
  }

  &[layout-tooltip="bottom"]:hover::after {
    background: linear-gradient(180deg, transparent 10px, $color-light 10px, $color-light),
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 10" width="20"><path d="M9 0 L0 10 20 10 10 0 Z" fill="%23#{str-slice(inspect($color-light), 2)}"/></svg>')
        top center no-repeat;
    top: calc(100% + 0.5rem);
    transform: translateX(-50%);
    padding: 1.3rem 1.6rem;
    padding-top: 2.4rem;
  }
  &[layout-tooltip="left"]:hover::after {
    background: linear-gradient(270deg, transparent 10px, $color-light 10px, $color-light),
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" width="20"><path d="M10 9 L0 0 0 20 10 10 Z" fill="%23#{str-slice(inspect($color-light), 2)}"/></svg>')
        center right no-repeat;
    left: 0px;
    top: 50%;
    transform: translateY(-50%) translateX(calc(-100% - 0.5rem));
    padding: 1.6rem 1.3rem;
    padding-right: 2.4rem;
  }
  &[layout-tooltip="right"]:hover::after {
    background: linear-gradient(90deg, transparent 10px, $color-light 10px, $color-light),
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" width="20"><path d="M0 9 L10 0 10 20 0 10 Z" fill="%23#{str-slice(inspect($color-light), 2)}"/></svg>')
        center left no-repeat;
    left: calc(100% + 0.5rem);
    top: 50%;
    transform: translateY(-50%);
    padding: 1.6rem 1.3rem;
    padding-left: 2.4rem;
  }
}
